.container {
  padding: 20px;
  margin: auto;
  width: 530px;
}

/*.basic_info {
  display: flex;
}*/



.App {
  text-align: center;
}

h2 {
  color: green;
}

input[type=text] {
  background: transparent;
  border: none;
  margin-left: 5px;
  border-bottom: 1px solid #000000;
  width: 95%;
}

/*.basic {
  display: flex;
  justify-content: flex-end;
}*/

.basic_energy {
  display: flex;
  justify-content: flex-end;
}

.sizeMonth {
  margin-right: 60px;
}

.sizeAccount {
  margin-right: 40px;
}

/*label {
 width: 10%;
}*/

.basic {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.basic_long {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}



.submit {
  display: flex;
  align-items: center;
  justify-content: center;

}

.uploadedDocuments {
  margin-top: 15px;
  padding: 10px 35px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #e7e7e7;
  border: none;
  border-radius: 6px;
}

.uploadedDocuments:hover {background-color: #3e8e41}

.uploadedDocuments:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button {
  background-color: orange;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 20px;
  margin-top: 50px;
  cursor: pointer;
}


textarea {
  width: 100%;
}


.basic_info {
  display: flex;
  flex-direction: column;
}

