.container {
  padding: 20px;
  margin: auto;
  width: 600px;
}


.App {
  text-align: center;
}

h2 {
  color: green;
}

input[type=text] {
  background: transparent;
  border: none;
  width: 100px;
  border-bottom: 1px solid #000000;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}


textarea {
  width: 600px;
}


.basic_info {
  display: flex;
  flex-direction: column;
}

