.financing-container {
  width: 1024px;
  margin: auto;
}

.financing-header {
  border-style: solid;
  border-width: medium;
  padding: 30px;
  text-align:center;
  height: 250px;
  background-color: #EFEFEF;
}

.financing-body {
  height: auto;
  display: grid;
  grid-column-gap: 85px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.financing-item {
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 20px;
}

.energy-flex {
  display: flex;
  margin-top: 8px;
}

.basic-info {
  border: none;
  margin-top: 15px;
  /*font-size: 14px;*/
}

.uploadedDocuments {
  padding: 10px 35px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #e7e7e7;
  border: none;
  border-radius: 6px;
}

.project-info-space {
  margin-top: 15px;
}

.communication-checkbox {
  margin-right: 100px;
}

/*.energy-input {

}*/

.energy-input {
  border: none;
  width: auto;
}

.financing-div {
  display: flex;
  justify-content: flex-start;
}

/*.financing-input {
  width: 100%;
}*/

.energy-select {
  width: 194px;
  height: 25px;
}

.component-title {
  margin-top: 60px;
  font-size: 20px;
}

.upload-label {
  font-size: 14px;
}

.basic-info-label {
  font-weight: bold;
  font-size: 14px;
}

