.financing-container {
  width: 1024px;
  margin: auto;
}

.financing-validate-button-pre-approve {
  padding: 10px 35px;
  font-size: 14px;
  width: 180px;
  margin-right: 50px;
  margin-top: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: rgba(255, 76, 0, 0.1);
  border: 3px solid rgba(255, 76, 0, 0.87);
  border-radius: 6px;
}

.financing-validate-button-approve {
  padding: 10px 35px;
  font-size: 14px;
  width: 180px;
  margin-right: 50px;
  margin-top: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: rgba(0, 167, 77, 0.1);
  border: 3px solid #00a74d;
  border-radius: 6px;
}

.financing-header {
  border-style: solid;
  border-width: medium;
  padding: 30px;
  text-align:center;
  height: 250px;
  background-color: #EFEFEF;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 20px 410px 15px;
  height: auto;
}

.grid-container-header {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-bottom: 15px;
}

.financing-header-label-ready {
  color: rgba(255, 76, 0, 0.87);
}

.financing-header-label-missing {
  color: #00a74d;
}

.grid-container-checkbox {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-top: 25px;
}

.grid-item-missing {
  margin-left: 100px;
}

.financing-body {
  height: auto;
  display: grid;
  grid-column-gap: 60px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.financing-item {
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 20px;
}

.financing-grid-item-border-both {
  padding-left: 10px;
  border-left: 4px solid #ff3232;
  border-right: 4px solid #009900;
}

.financing-grid-item-border-one {
  border-right: 4px solid #009900;
}

.financing-energy-flex {
  display: flex;
  margin-top: 8px;
}

.financing-energy-info {
  margin-top: 30px;
}

.financing-financial-info {
  margin-top: 108px;
}

.financing-basic-info {
  border: none;
  margin-top: 15px;
  /*font-size: 14px;*/
}

.financing-uploadedDocuments {
  padding: 10px 35px;
  font-size: 14px;
  margin-right: 50px;
  margin-top: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #e7e7e7;
  border: none;
  border-radius: 6px;
}

.financing-project-info-space {
  margin-top: 15px;
}

.financing-communication-checkbox {
  margin-right: 100px;
}

/*.energy-input {

}*/

.financing-energy-input {
  border: none;
  width: auto;
}

.financing-div {
  display: flex;
  justify-content: flex-start;
}

/*.financing-input {
  width: 100%;
}*/

.financing-energy-select {
  width: 194px;
  height: 25px;
}

.financing-component-title {
  margin-top: 60px;
  font-size: 20px;
  font-weight: bold;
}

.financing-upload-label {
  font-size: 14px;
}

.financing-basic-info-label {
  font-weight: bold;
  font-size: 14px;
}

