.build-reduce-main {
  width: 90%;
  height: auto;
  padding: 50px
}

.build-reduce-image {
  float: right;
  margin-right: 360px;
  opacity: 0.3;
  margin-top: -490px;
}

.build-reduce-on-off {
  float: right;
  margin-right: 250px;
  margin-top: -10px;
}

/*.build-reduce-bold-line {
  font-weight: bolder;
}*/

.build-reduce-body-content {
  width: 600px;
  margin-top: 40px;
}

.build-reduce-footer {
  clear: both;
  width: 90%;
}

.build-reduce-grid-container {
  display: grid;
  grid-column-gap: 60px;
  margin-top: -30px;
  grid-template-columns: auto auto auto auto;
  /*padding: 15px;*/
}

.build-reduce-grid-three {
  display: grid;
  grid-column-gap: 50px;
  margin-top: 15px;
  grid-template-columns: 200px 115px auto;
  /*padding: 15px;*/
}

.build-reduce-line {
  margin-left: 15px;
}


.build-reduce-divSpace {
  font-size: 25px;
  margin-bottom: -40px;
  /*margin-left: 5px*/
}

.build-reduce-orange {
  color: orange;
}

.build-reduce-end {
  margin-top: 40px;
}

.build-reduce-resume {
  font-size: 10px;
  /*margin-left: 15px;*/
}


.build-reduce-grid-item {
  font-size: 15px;
  margin-top: 25px;
}

.build-reduce-item-three {
  font-size: 15px;
}

/* on off button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-left: 22px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}